/* 

	------------------ COLOUR PALETTE --------------------
	https://flatuicolors.com/palette/se

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--notification-opacity: 0;
}

.no-selection {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

html,
body,
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #d2dae2;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main nav,
main section {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/* Navigation */

ul {
	margin: 0;
	padding-left: 1.5rem;
	list-style: none;
	display: flex;
	align-items: center;
	width: 100%;
	height: 6rem;
	background-color: #0fbcf9;
}

.icon {
	width: 5rem;
	height: 5rem;
	fill: #d2dae2;
	padding-right: 1rem;
}

h1 {
	margin: 0;
	font-size: 2rem;
	color: #d2dae2;
}

.section-1 {
	flex: 0.1;
	display: flex;
	justify-content: left;
}

.section-2 {
	font-size: 6rem;
}

.section-2 div {
	display: flex;
}

#info-button {
	margin-top: 100%;
	width: 1rem;
	height: 1rem;
}

#info-button:active {
	fill: #d2dae2;
	transition: fill 200ms ease;
}

.section-3 {
	align-items: flex-end;
}

#alert-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	width: 90%;
	height: 35%;
	margin-bottom: 5%;
	opacity: var(--notification-opacity);
	transition: opacity 200ms ease;
}

#alert-title {
	margin: 0;
	font-size: 2rem;
}

.alert-body {
	margin: 0;
	text-align: center;
	font-size: 1rem;
}

.high {
	color: #ffa801;
}

.low {
	color: #ff3f34;
}

.normal {
	color: #05c46b;
}

.high-alert {
	background-color: #ffa801;
}

.low-alert {
	background-color: #ff3f34;
}