/* 

	------------------ COLOUR PALETTE --------------------
	https://flatuicolors.com/palette/se

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--notification-opacity: 1;
}

.no-selection {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

html,
body,
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #0fbcf9;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main nav,
main section {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.section-2 {
	display: flex;
	flex-direction: column;
	color: #d2dae2;
}

h1 {
	font-size: 5rem;
	margin: 0;
}

h2 {
	font-size: 2rem;
}